.cmp-title {}
.cmp-title__text {

    text-align: center;
}
.cmp-title__link {}

.title.cmp-title-color {
    color: red;
}
.cmp-title-padding-left{
    padding-left: 50px;
}
.cmp-title-padding-right{
    padding-right: 50px;
}
.cmp-title-color-red{
   color: red;
}
.cmp-title-color-blue{
    color: blue;
}
.cmp-title-font-small{
    font-size: small;
}
.cmp-title-font-medium{
    font-size: medium;
}
.cmp-title-font-large{
    font-size: large;
}
