<div class="cmp-test ${properties.checkbox == 'true' ? 'trueClassName': 'falseClassName'}">
    <sly data-sly-test="${properties.text}">
        <h1>This is a Test component</h1>
        <div class="cmp-test__text">${properties.text}</div>
        <a class="cmp-test__link" data-sly-attribute.test-attribute="${properties.linkColor}" href="${properties.link}" alt="altText">${properties.text}</a><br>
    </sly>
    <img class="cmp-test__image" src="${properties.image}" alt="Image">
    <div class="cmp-test__description">${properties.longDescriptionText @context='html'}</div>
</div>

<!-- <div class="cmp-helloworld" data-cmp-is="helloworld">
    <h2 class="cmp-helloworld__title">Hello World Component</h2>
    <div class="cmp-helloworld__item" data-sly-test="${properties.text}">
        <p class="cmp-helloworld__item-label">Text property:</p>
        <pre class="cmp-helloworld__item-output" data-cmp-hook-helloworld="property">${properties.text}</pre>
    </div>
    <div class="cmp-helloworld__item" data-sly-use.model="com.adobe.aem.guides.wknd.core.models.HelloWorldModel" data-sly-test="${model.message}">
        <p class="cmp-helloworld__item-label">Model message:</p>
        <pre class="cmp-helloworld__item-output"data-cmp-hook-helloworld="model">${model.message}</pre>
    </div>
</div> -->
